body {
  width: 700px;
  max-width: 90%;
  margin: 30px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #582D41;
  color: #FFFFFF;
}

.hacktoberfest-banner {
  width: 100%;
}

h1 {
  color: #01FFFF;
}

h2, h3 {
  color: #FF9A56;
}

h4, h5, h6 {
  color: #2B81D9;
}

a {
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
