body {
  width: 700px;
  max-width: 90%;
  margin: 30px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #582D41;
  color: #FFFFFF;
}

.hacktoberfest-banner {
  width: 100%;
}

h1 {
  color: #01FFFF;
}

h2, h3 {
  color: #FF9A56;
}

h4, h5, h6 {
  color: #2B81D9;
}

a {
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button#tickets {
  background-color: #21ffff;
    border: 0;
    border-radius: 4px;
    color: #411e2f;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1;
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
    margin: 100px auto 0 auto;
    cursor: pointer;
    outline: none;
}